@charset "UTF-8";
html{
    font-size: 62.5%
}

body {
    font-family: "Lucida Sans Unicode", "Lucida1";
    font-size: 1.6rem;
    padding: 10px;
    background-color: rgb(233, 223, 213);
}

button{
    cursor: pointer;
    margin: 0.5rem;
}

.numbers{
    border: 1px solid gray;
    padding: 10px;
    list-style: none;
    font-family: monospace;
    font-size: 2rem;
    text-align: center;
}

.number{
    display: inline-block;
    margin: 1rem;
    border: 0.1rem solid lightslategray;
    width: 2.5rem;
    border-radius: 100%;
    padding: 0.5rem;
    user-select: none;
    cursor: pointer;
}

.selected_number{
    background-color: rgb(96, 238, 96);
    font-weight: bold;
    padding: 0.59rem;
    color: rgb(0, 0, 0);
}

